*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
html{
    background-color: #333;
}
@media (max-width: 700px){
    .startBtn{
        position: relative;
        bottom: 0;

        
    }
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.ballShadow{
    -webkit-filter: drop-shadow( 1px 3px 3px black);
		filter: drop-shadow( 1px 3px 3px black);
}
.header{
    width: 100%;
    box-shadow: 0 5px 15px rgb(28, 28, 28);
    padding-bottom: 1rem;
}